*{
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
.panelText{
  opacity: 0;
  color: chocolate;
}
.panel:hover .panelText{
  opacity: 1;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.panel:hover{
  transition: ease-in-out;
  transform: scaleY(1.01);
}
.icons:hover{
  transform: scale(1.2);
  transition: ease-in;
}